<h2 class="lyt-title">Калькулятор</h2>

<div class="row" ng-controller="CalcCtrl">

  <div class="col-md-12">

    <div class="well">
      <!--<p ng-if="vm.digit_prev" class="text-info small">{{vm.digit_prev}}</p>-->
      <p ng-if="vm.digit" class="text-info">{{vm.digit}}</p>
      <p ng-if="vm.total" class="text-success">{{vm.total}}</p>
    </div>

    <div class="panel">

      <form class="form" action="" ng-submit="">

        <!--<input type="number" ng-model="vm.iFrom" placeholder="1" size="3" />-->

        <!--<input type="number" ng-model="vm.iTo" placeholder="1" size="3" />-->

        <!--<div class="btn-group">
          <div class="btn btn-default" ng-click="sum=(iFrom+iTo)">+</div>
          <div class="btn btn-default" ng-click="sum=(iFrom-iTo)">-</div>
          <div class="btn btn-info" ng-click="sum=(iFrom*iTo)">*</div>
          <div class="btn btn-info" ng-click="sum=(iFrom/iTo)">/</div>
        </div>-->

        <div class="calc-body" ng-controller="DigitCtrl">
          <div class="btn btn-warning" ng-click="reset()">AC</div>
          <div ng-repeat="i in ArrayFromNumber(10) track by $index" class="btn btn-default" ng-click="digit($index)" ng-model="vm.digit_prev">{{::$index}}</div>
        </div>

        <div class="calc-operators">

          <div ng-controller="SquareCtrl">
            <div class="btn btn-info" ng-click="square(vm.digit)" ng-disabled="!vm.digit">x²</div>

            <div ng-controller="AddCtrl">
              <div class="btn btn-info" ng-click="add()" >+</div>

              <div ng-controller="SubtractCtrl">
                <div class="btn btn-info" ng-click="minus()" ng-disabled="(!vm.iFrom || !vm.iTo)">-</div>

                <div ng-controller="MultiplyCtrl">
                  <div class="btn btn-info" ng-click="mult()" ng-disabled="(!vm.iFrom || !vm.iTo)">*</div>

                  <div ng-controller="DivideCtrl">
                    <div class="btn btn-info" ng-click="div()" ng-disabled="(!vm.iFrom || !vm.iTo)">/</div>
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </form>

    </div>

  </div>

</div>