<link href="./assets/filters.css" rel="stylesheet"/>

<div class="row" ng-controller="FiltersCtrl">

  <div class="col-md-12">

    <h2 class="lyt-title">Фильтры, чо.</h2>

    <div class="panel">

      <h4 class="lyt-subtitle">Odd/even sort in array</h4>

      <!--<div ng-repeat="num in [1,2,5,8,9,3,4] | orderBy:sorterFunc">{{num}}</div>-->
      <!--<div ng-repeat="num in [7,1,12,5,8,10,9,3,4,11,2] | orderBy">{{num}}</div>-->

      <div class="panel-body">
        <p>From this:</p>
        <ul class="filters__numberslist">
          <li ng-repeat="num in vm.aNumbers" class="label" ng-class="(num % 2 === 0) ? 'label-primary' : 'label-danger'">{{num}}</li>
        </ul>
      </div>

      <div class="panel-body">
        <p>Into this:</p>
        <ul class="filters__numberslist">
          <li ng-repeat="num in vm.aResult" class="label" ng-class="(num % 2 === 0) ? 'label-primary' : 'label-danger'">{{num}}</li>
        </ul>
      </div>

    </div>

  </div>

</div>