<div class="row" ng-controller="NotesCtrl">

    <div class="col-md-12">

        <h2 class="lyt-title">Записная книга</h2>

        <form class="well" id="newNote" ng-submit="addNote()">

            <div class="row">

                <div class="col-xs-12 col-md-3">
                    <input id="addfld1" class="form-control cmn-gap" type="text" ng-model="newTitle" size="20" placeholder="Название" ng-required>
                </div>

                <div class="col-xs-12 col-md-3">
                    <input id="addfld2" class="form-control cmn-gap" type="text" ng-model="newText" size="20" placeholder="Текст" ng-required>
                </div>

                <div class="col-xs-12 col-md-2">
                    <div class="material-switch">
                        <input id="addfld3" name="newDate" type="checkbox" ng-model="newIsActive" />
                        <label for="addfld3" class="label-default is-textlabel">Публиковать</label>
                    </div>
                </div>

                <div class="col-xs-12 col-md-2">
                    <input id="addfld4" class="form-control cmn-gap" type="date" ng-model="newDate" placeholder="Дата" />
                </div>

                <div class="col-xs-12 col-md-2">
                    <input class="btn btn-primary" type="submit" value="Добавить" ng-disabled="(!newTitle || !newText)">
                </div>

            </div>

        </form>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Найти по названию</div>
                <input type="text" class="form-control" placeholder="название" ng-model="searchQuery">
            </div>
        </div>

        <table class="table table-hover">

            <thead>
            <tr>
                <td></td>
                <td>
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                        Название
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td></td>
                <td>
                    <a href="#" ng-click="sortType = 'oDate'; sortReverse = !sortReverse">
                        Дата
                        <span ng-show="sortType == 'oDate' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'oDate' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td></td>
                <td></td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in items | orderBy:sortType:sortReverse | filter:searchQuery | limitTo:limitValue" class="list__item done-{{item.active}}">

                <td class="text-center">
                    <div class="material-switch">
                        <input name="isActive{{$index}}" id="isActive{{$index}}" type="checkbox" ng-model="item.active"/>
                        <label for="isActive{{$index}}" class="label-info"></label>
                    </div>
                </td>

                <td>
                    <span>{{::item.title}}</span>
                </td>

                <td>
                    <span>{{item.text | cut:true:15:' ...'}}</span>
                    <!--<span>{{item.text | limitTo: 15 }}{{item.text.length > 15 ? '...' : ''}}</span>-->
                </td>

                <td>
                    <span>{{::item.oDate | date:'dd MMM yyyy'}}</span>
                </td>

                <td class="text-center">
                    <input type="button" class="btn btn-sm btn-danger" value="Удалить" ng-click="deleteNote($index)">
                </td>

            </tr>
            </tbody>
        </table>

        <div class="panel-body">
            <select name="limit" id="limit" class="selectpicker" ng-model="limitValue" ng-init="limitValue = ''">
                <option value=" ">Все</option>
                <option ng-repeat="limit in limitRange track by $index" value="{{limit}}">{{limit}}</option>
            </select>
        </div>

    </div>

</div>